/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.masthead-nav li {
    color: white;
    font-size: 48px;
    font-family: Raleway;
    text-transform: lowercase;
    font-weight: 400;
}

.front-text {
  padding-top: 4em;
}

h1#masthead-heading {
  font-weight: 400;
  letter-spacing: .1em;
  font-size: 4.8em;
  text-transform: uppercase;
  color: white;
  line-height: 1.3;
  font-family: 'Raleway', sans-serif;
}

@media(max-width: 768px)
{
    h1#masthead-heading {
        font-size: 56px;
    }
}

@media(max-width: 420px)
{
    h1#masthead-heading {
        font-size: 45px;
    }
}

@media(max-width: 400px)
{
    #masthead-heading {
        font-size: 39px;
    }
}

#heading {
  text-align: center;
  color: white;
  margin-top: 2.7em;
  margin-right: .5em;
  margin-left: .5em;
  font-family: 'Raleway', sans-serif;
  background: rgba(112,112,112,.7);
  text-transform: lowercase;
  padding: 1em;
  letter-spacing: .4em;
  font-weight: 300;
  font-size: 1.5em;
}

@media(max-width: 653px)
{
    #heading {
        letter-spacing: .2em;
        font-size: 22px;
    }
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
    height: 100%;
}

body {
  background-color: #DAF2EF;
  color: grey;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/********* FRONT PAGE *********/

.front-page {
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  background-image: url('https://unsplash.imgix.net/photo-1428677361686-f9d23be145c9?fit=crop&fm=jpg&h=700&q=75&w=1050');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Raleway;
  font-weight: 100;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
    padding: 30px;
}

/*********** Front Page Header **********/

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.65);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar {
    padding-bottom: 30px;
}

@media (min-width: 400px) {

  .masthead-nav {
    float: right;
  }
}

/************ PROJECTS PAGE *************/

.project-body {
    height:100%;
}

.project-header {
    color: #fafafa;
    font-weight: 400;
}

.projects {
    height:100%;
    margin-top: 1em;
}

.menu h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
}

.menu h5 {
    text-transform: lowercase;
    font-size: 1.5em;
}

p.menu-link a {
    font-size: 1.5em;
    color: black;
}

img[alt*="logo"] {
    padding-top: 0px;
    margin-top: -20px;
    width: 50px;
    opacity: 0.2;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    padding-right: 6px;
}

img[alt*="link"] {
    background-color: transparent;
    opacity: 0.2;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    padding-left: 6px;
    margin-top: -20px;
}

.projects {
    padding: 0 30px;
}

img[alt*="logo"]:hover, img[alt*="link"]:hover {
    opacity: 1;
}

/********** Project Images ***********/
#box {  
    width:100%;
    height:20em;
    margin:0 auto 0 auto; 
    background-size:cover;
    background-position-x: center;
    overflow:hidden;
}

#overlay {  
    background:rgba(0,0,0,.9);
    text-align:center;
    height: 20em;
    opacity:0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
}

#box:hover #overlay {
    opacity:1;
}

p#description {  
    font-family:Raleway, sans-serif;
    font-weight:400;
    color:rgba(255,255,255,.85);
    padding-top: 21%;
    font-size:16px;
    width: 80%;
    padding-left: 20%;
    vertical-align: auto;
}



.col-md-4, .col-sm-4, .col-xs-12, .col-xs-6 {
    padding: 2px;
    margin: 0;
}

/********** ABOUT PAGE **********/
.about-container {
    background-color: rgba(112,112,112,.8); 
    margin-top: 4%;
    margin-bottom: 5%;
    border-radius: 5px; 
    overflow: hidden;
    color: white;
    padding-bottom: 5%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

.nav-pills {
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: -35px;
    margin-top: 15px;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-left: 10px;
}

.nav-pills > li  {
    border-radius: 3px;
    background-color: transparent; 
    margin-right: -2px;
    float:none;
    display:inline-block;
    /*margin-right: 1px;*/
    margin-bottom: 15px;
    margin-top: 15px;
}

.nav-pills > li > a {
    color: rgba(112,112,112,.5); 
    font-weight: 500; 
    /*margin-right: 0;*/
    /*padding-right: 0;*/
}

.nav-pills > li > a:hover {
    background-color: rgba(112,112,112,.1); 
}

@media(max-width: 768px) {
    .nav-pills {
        font-size: 16px;
        margin-bottom: -20px;
        float: none;
    }
}

@media (min-width:1200px) {
}

.about-text {
    float: right;
    text-align: justify;
}

.about-pic {
    margin-top: 18%;
}

@media(min-width: 992px)
{
    .about-pic {
        margin-top: 7%;
    }
}

@media(max-width: 768px)
{
    .about-pic {
        width:44%;
        margin: 8% auto -7% auto;
        float:none;
    }

    .about-text .contact-header {
      margin-bottom: 14px;
    }
}


/********** CONTACT PAGE **********/
.contact-body {
    height: initial;
}

.contact-container {
    background-color: rgba(112,112,112,.6); 
    margin-top: 8vh; 
    border-radius: 5px; 
    overflow: hidden;
    margin-right: 10%;
    margin-left: 10%;
}

.contact-header {
    letter-spacing: 8px; 
    text-transform: uppercase; 
    padding-top: 10%;
    padding-bottom:2%;
    color: #fafafa;
}

.contact-container p {
    color: white;
}

.glyphicon-earphone, .glyphicon-envelope {
    display:inline;
}

.social-icon {
    border: 7px solid white;
    margin-left: 15px;
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
}

.social-icon:hover {
    opacity: 0.1;
}

.socialmedia {
    margin-bottom: 15%;
}

.socialmedia a {
    text-decoration: none;
}

.git-socialicon {
    -webkit-transition: opacity .5s ease;
}

.git-socialicon:hover {
    opacity: 0.1;
}

.contact-info {
    padding-bottom: 8%;
}

.email-address {
   display:none;
   width:115px;
    padding-top: 46px;
    padding-bottom:46px;
    /*padding-right: 0px;*/
    /*padding-left: inherit;*/
    font-size: 9px;
    text-transform:uppercase;
    -webkit-transition: opacity .5s ease;
    /*margin-left:5.5px;*/
    letter-spacing: .4px;
}

.email-address:hover {
    opacity: 1;
}

.phone-number {
    display:none;
    padding-top: 45px;
    padding-bottom:45px;
    padding-right: inherit;
    padding-left: 2pxpx;
    font-size: 11px;
    -webkit-transition: opacity .5s ease;
    letter-spacing: 2px;

}

.phone-number:hover {
    opacity: 1;
}
/********* MEDIA QUERIES **********/
@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }

  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .menu h2 {
        margin-top: 55%;
    }
}

@media(min-width: 1200px) {
    .menu h2 {
        margin-top: 70%;
    }
}

@media (max-width: 768px) {
    p#description {
        padding-top: 17%;
    }
    .col-xs-12 {
        padding: 5px 3px;
    }

   /*p.menu-link {
        display: inline-block;
        top: 0;
    }

    .menu-links {
        position: fixed;
        top: 10px;
        right: 5px;
    }*/
}
